.container{
    border: 2px solid rgb(16, 12, 236);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

    #imgUser{
        border-radius: 50%;
        border: 1px solid #161515;
        width: 100px;

    }
